.DestinationList {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 32px 0;
	@media screen and (min-width: 1400px) {
		justify-content: flex-start;
	}
}
.Destination {
	position: relative;
	margin: 0 16px;
	background: none;
	border: none;
	color: #d0d6f9;
	text-transform: uppercase;
	transition: color 250ms ease-in-out;
	&::after {
		content: '';
		position: absolute;
		bottom: -10px;
		display: block;
		padding: 1px;
		width: 100%;
		background-color: white;
		transform: scale(0);
		transition: transform 250ms ease-in-out;
	}
	&:hover {
		cursor: pointer;
		color: white;
		&::after {
			transform: scale(0.75);
		}
	}
}
.active {
	color: white;
	&::after {
		transform: scale(1);
	}
}
