.TechWrapper {
	min-height: 100vh;
	width: 100%;
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url('/assets/technology/background-technology-mobile.jpg');
	@media screen and (min-width: 810px) {
		background-image: url('/assets/technology/background-technology-tablet.jpg');
	}
	@media screen and (min-width: 1400px) {
		padding: 40px 0;
		background-image: url('/assets/technology/background-technology-desktop.jpg');
	}
}

.TechImageContainer {
	margin: 32px 0;
	@media screen and (min-width: 1000px) {
		order: 2;
		margin: 0;
	}
}
.TechImage {
	min-width: 100%;
	@media screen and (min-width: 1000px) {
		max-width: 550px;
	}
}
.TechSelectionListContainer {
	margin-bottom: 32px;
	@media screen and (min-width: 1000px) {
		margin: 0;
		margin-right: 40px;
	}
	@media screen and (min-width: 1400px) {
		margin-right: 80px;
	}
}
.TechSelectionList {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	& > * {
		margin: 0 8px;
	}
	@media screen and (min-width: 1000px) {
		flex-direction: column;
		& > :nth-child(2) {
			margin: 16px 0;
		}
	}
	@media screen and (min-width: 1400px) {
		& > :nth-child(2) {
			margin: 32px 0;
		}
	}
}

.SelectionButton {
	width: 40px;
	height: 40px;
	color: white;
	background: none;
	border-radius: 50%;
	border: 1px solid rgba(white, 0.5);
	@media screen and (min-width: 1400px) {
		width: 80px;
		height: 80px;
	}
	&.active {
		color: black;
		background-color: white;
	}
	&:hover {
		cursor: pointer;
	}
}

.TechTextContentContainer {
	align-self: center;
	max-width: 375px;
	padding: 0 24px;
	color: white;
	text-align: center;
	@media screen and (min-width: 810px) {
		max-width: 600px;
		margin-left: 24px;
	}
	@media screen and (min-width: 1000px) {
		display: flex;
		max-width: 100%;
		padding: 0;
		text-align: left;
		& > div:nth-child(2) > p {
			margin-top: 16px;
			max-width: 444px;
		}
	}
	@media screen and (min-width: 1400px) {
		margin-left: 166px;
	}
}

.FlexWrapper {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 1000px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
