.TechWrapper {
	min-height: 100vh;
	width: 100%;
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url('/assets/technology/background-technology-mobile.jpg');
	@media screen and (min-width: 810px) {
		background-image: url('/assets/technology/background-technology-tablet.jpg');
	}
	@media screen and (min-width: 1400px) {
		padding-top: 40px;
		background-image: url('/assets/technology/background-technology-desktop.jpg');
	}
}

.FlexWrapper {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 1400px) {
		flex-direction: row;
		justify-content: space-between;
		margin-left: 166px;
	}
}
.TechImageContainer {
	margin: 32px 0;
	@media screen and (min-width: 1400px) {
		order: 2;
	}
}
.TechImage {
	min-width: 100%;
}
.TechSelectionListContainer {
	margin: 16px 0;
}

.TechSelectionList {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	& > * {
		margin: 0 8px;
	}
	@media screen and (min-width: 1400px) {
		min-height: 100%;
		flex-direction: column;
		justify-content: start;
		& > * {
			margin: 0;
			margin-bottom: 16px;
		}
	}
}

.SelectionButton {
	width: 40px;
	height: 40px;
	color: white;
	background: none;
	border-radius: 50%;
	border: 1px solid rgba(white, 0.5);
	@media screen and (min-width: 1400px) {
		width: 80px;
		height: 80px;
	}
	&.active {
		color: black;
		background-color: white;
	}
	&:hover {
		cursor: pointer;
	}
}

.TechTextContentContainer {
	max-width: 458px;
	margin: auto;
	margin-bottom: 100px;
	padding: 0 24px;
	color: white;
	text-align: center;
	& > * {
		margin-top: 16px;
	}
	@media screen and (min-width: 1400px) {
		margin: 0;
		text-align: left;
	}
}
.TechTextContentTitle {
	& > * {
		margin-top: 16px;
	}
}
